html {
	background-color: rgb(0, 0, 0);
	margin: 0;
}
body {
	font-family: "Creepster";
	background-image: url(bilder/bakgrund.jpg);
	background-size: 712px 952px;
	width: 712px;
	height: 940px;
	margin: auto;
	margin-top: 0;
	padding-top: 1%;
}
h1 {
	font-size: 60px;
	text-align: center;
}
p {
	font-size: 20px;
	width: 75%;
	margin: auto;
}
.options {
	text-align: center;
}
